<h1>Listing paydays</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Payday</th>
    </tr>
  </thead>

  <tbody>
    <% @paydays.each do |payday| %>
      <tr>
        <td><%= payday.title %></td>
        <td><%= payday.payday %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payday', new_payday_path %>
