<div id="yo-button"></div>
<script type="text/javascript">
    var _yoData = {
        "username": "SAKABE",
        "trigger": "kimatakubot"
      };
  var s = document.createElement("script");
  s.type = "text/javascript";
  s.src = "//yoapp.s3.amazonaws.com/js/yo-button.js";
  (document.head || document.getElementsByTagName("head")[0]).appendChild(s);
</script>
<a class="twitter-timeline" href="https://twitter.com/kimataku_bot"  data-widget-id="446868142568902656" lang="ja">@kimataku_bot からのツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
